/ClientOne/node_modules
/ClientOne/angularApp/**/*.js
/ClientOne/angularApp/**/*.js.map
/.vs/config/applicationhost.config
/.vs
/**/bin
/ClientTwo/node_modules
/ClientTwo/angularApp/**/*.js.map
/ClientTwo/angularApp/**/*.js
/ClientTwo/wwwroot/
/ClientOne/wwwroot/
